header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282828;
  color: #dad901;
  height: 80px;
}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  height: 40px;
  width: 100%;
}

nav a {
  color: #dad901;
  font-size: 14px;
  text-decoration: none;
  padding: 10px 20px;
}

nav a:hover {
  background-color: #333;
  border-radius: 5px;
}
